body{
    background-image: url(https://media.istockphoto.com/id/1433306731/id/vektor/ilustrasi-vektor-selamat-hari-sumpah-pemuda-terjemahan-ikrar-selamat-pemuda-indonesia-cocok.jpg?s=612x612&w=0&k=20&c=wUGLav_Wzfi1VjT6aBaujjj0HnbnarmgeajrfM_4XIw=);
    background-attachment: fixed;
    background-size: cover;

}