body{
    background-image: url(https://awsimages.detik.net.id/community/media/visual/2023/10/24/poster-hari-sumpah-pemuda-2023-1_169.jpeg?w=1200);
    background-attachment: fixed;
    background-size: cover;
}

p{
    text-decoration: solid;
}