body{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcREZm3Kx1Hf7y5190tMks_bHoDJ_PSP-uN5Lg&s);
    background-attachment: fixed;
    background-size: cover;
    
}